extends layout

block pane
  div.container
    div#sfc-navbar.span9.row-fluid
      ul.nav.nav-pills
        li.active
          a(href='/') Home
        li
          a(href='/registration') Register
        li
          a(href='/resources') Local Resources
        li
          a(href='/about') About SFC
    div
      img.img-rounded.img-responsive(src="images/Seattle.jpg")
    div
      p Established 2014

      