extends layout

block pane
  div.container
    div#sfc-navbar.span9.row-fluid
      ul.nav.nav-pills
        li
          a(href='/') Home
        li
          a(href='/registration') Register
        li
          a(href='/resources') Local Resources
        li
          a(href='/about') About SFC
    div.row(style="float:none; margin: 0 auto")
      h1 Thank You for Registering to SFC 2014!

  