doctype
html.
  <div>
    <script src="js/paypal-button.min.js?merchant=jesse.anarde@gmail.com"
          data-button="buynow"
          data-name="My product"
          data-amount="1.00"
          async>
    </script>
  </div>
  