extends layout
block pane
  div.container-fluid
    div#registration-error-alert.alert.alert-danger.alert-dismissible(role="alert" style="display:none")
      button#btn-registration-alert.close(type="button" data-dismiss="alert")
        span(aria-hidden="true") &times; 
        span.sr-only Close
      strong Something has gone horribly wrong: 
      
    div.rows.container
      form.form-horizontal(role="form")
        div#registration-box-first-name.input-group.input-group-lg
          label(for="first-name") First Name
          input#first-name.form-control(type="text" name="fname" placeholder="FirstName")
        div#registration-box-last-name.input-group.input-group-lg
          label(for="last-name") Last Name
          input#last-name.form-control(type="text" name="lname" placeholder="LastName")
        div#registration-box-phone-number.input-group.input-group-lg
          label(for="phone-number") Phone Number
          input#phone-number.form-control(type="tel" name="phone" placeholder="PhoneNumber")
        div#registration-box-email-address.input-group.input-group-lg
          label(for="email-address") Email Address
          input#email-address.form-control(type="email" name="email" placeholder="Email")
        div#registration-box-home-group.input-group.input-group-lg
          label(for="home-group") Home Group
          input#home-group.form-control(type="text" name="homegroup" placeholder="HomeGroup")
        div#registration-box-badge-name.input-group.input-group-lg  
          label(for="badge-name") Badge Name
          input#badge-name.form-control(type="text" name="badgename" placeholder="BadgeName")
        div#registration-box-address.input-group.input-group-lg
          label(for="address") Address
          input#address.form-control(type="text" name="address" placeholder="Address")
        div#registration-box-city.input-group.input-group-lg
          label(for="city") City
          input#city.form-control(type="text" name="city" placeholder="City")
        div#registration-box-zip.input-group.input-group-lg
          label(for="zio") Zip Code
          input#zip.form-control(type="text" name="zip" placeholder="ZipCode")
          
      span.input-group-btn
        button#user-submit.btn.btn-default(type="button") Register & Pay